body{
    background-color: #c1ac99;
    border: 10px double white;
    background-size: cover;
    height: 720px;

}
.title{
    padding: 10px 10px 10px 10px;
    width: 600px;
    color: white;
}
.imagem{
    width: 400px;
}
.p{
    border: 10px double white;
    padding: 140px 20px;
    width: 400px;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
